body {
  padding: 0 1rem;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 3rem 0;
}

.container.flex {
  display: flex;
  justify-content: space-between;
  align-items: top;
  gap: 1rem;
}

.scroll:target {
  scroll-margin-top: 3rem;
}

@media (max-width: 750px) {
  .container.flex {
    flex-direction: column;
  }

  body {
    padding: 0 2rem;
  }
}