header {
  position: fixed;
  width: 100%;
  margin: -0.5rem 0 0 -1rem;
}

.header {
  background: var(--color-black);
  margin: 0 auto;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  padding: 1rem 0;
  align-items: center;
}

.nav {
  display: flex;
  gap: 4.5rem;
}

.nav a {
  font-family: var(--default-font);
  color: var(--color-white);
  font-weight: 600;
  line-height: 1.0625rem;
  font-size: 0.875rem;
}

.nav a:hover {
  color: var(--color-primary-hover);
}

@media (max-width:750px) {
  .nav {
    margin: 0.5rem 0;
  }
}